{% extends 'projectapp/base.html' %}

{% block title %}Create/ Edit Task{% endblock %}
{% block content %}
<h1>Create/ Edit Task</h1>
<form method="POST">
    {% csrf_token %}
    {% if form.errors %}
        <ul class="error-list">
            {% for field, errors in form.errors.items %}
                <li>{{ field }}: {{ errors|join:", " }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Manually render the fields you need: instead of {{ form.as_p }}-->
    <div>
        <label for="id_project">Project:</label>
        {{ form.project }}
    </div>
    <div>
        <label for="id_title">Title:</label>
        {{ form.title }}
    </div>
    <div>
        <label for="id_description">Description:</label>
        {{ form.description }}
    </div>
    <div>
        <label for="id_start_date">Start Date:</label>
        {{ form.start_date }}
    </div>
    <div>
        <label for="id_due_date">Due Date:</label>
        {{ form.due_date }}
        <p>(Due Date must be today or in the future)</p>
    </div>
    <div>
        <label for="id_priority">Priority:</label>
        {{ form.priority }}
    </div>
    <div>
        <label for="id_parent_task">The task depends on:</label>
        {{ form.parent_task}}
        <p>* <strong>Finish-to-Start Rule enforced:</strong> The start date must be on or after the parent task's due date.</p>
        <p>* For additional, less severe dependencies, please use the tag system.</p>
    </div>
    <div>
        <label for="id_status">Status:</label>
        {{ form.status }}
    </div>
    <div>
        <label for="id_tags">Tags:</label>
        {{ form.tags }}  <!-- The existing tags checkbox field -->
    </div>
    
    <!-- Render the new tags field for adding comma-separated new tags -->
    <div>
        <label for="id_new_tags">Add New Tags:</label>
        {{ form.new_tags }}
    </div>

    
    <button type="submit" {% if not can_add_task and not can_change_task %}disabled{% endif %}>Save</button>
</form>
{% if not can_add_task and not can_change_task %}
    <p>Sorry, but a permission is required to create or edit a task.</p>
{% endif %}
{% endblock %}